@model LoginTest.Models.BaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaiViet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TheLoai1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TheLoai1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TomTatNoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomTatNoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhBia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayChinhSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayChinhSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLanXem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLanXem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiBaiViet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiBaiViet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_idBaiViet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
