@{
    IEnumerable<BinhLuan> lstComment2 = ViewBag.ListCM2 as IEnumerable<BinhLuan>;
}
@using LoginTest.Models;
@model IEnumerable<BinhLuan>
@foreach (var item in Model.Take(3))
{
<div class="media">
    <h5>@item.User.HoTen</h5>
    <h1>Xin Chào, @Session["CommentCap1"].ToString()</h1>
    <div class="media-left">
        <a href="#">

        </a>
    </div>
    <div class="media-body">
        <p>@item.NoiDung</p>
        <span>Thời Gian :<a href="#"> @item.ThoiDiemBinhLuan </a></span>
    </div>
</div>
<div class="media1">
    @Html.Partial("~/Views/BaiViet/CommentStyle2Partial.cshtml", lstComment2)
    @*@Html.Partial("~/Views/BaiViet/CommentStyle2Partial.cshtml", new { @idBinhLuan = Session["CommentCap1"] });*@
</div>
}