@{
    IEnumerable<BinhLuan> lstComment2 = ViewBag.ListCM2 as IEnumerable<BinhLuan>;
}
@using LoginTest.Models;
@model IEnumerable<BinhLuan>

@foreach (var item in Model.Take(4))
{
    <div class="media">

        <div class="col-sm-1">
            <a style="padding-left:10px" href="@Url.Action("HomeNguoiViet","NguoiViet",new {@idUser = item.User.C_idUser})">
                <img class="text-center" src="/Content/images/2.jpg" width="40" height="40" style="border-radius:50%; margin-bottom: 10px; margin-top: 10px;" />
            </a>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-defaut">
                <div class="row">
                    <div style="padding-top:1%; padding-left: 3%; padding-right:2%">
                        <p style="color:black; font-size: 1.5em;"><b style="color:#3658a6">@item.User.HoTen</b> @item.NoiDung</p>
                        <h6>@item.ThoiDiemBinhLuan</h6>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("CommentStyle2Partial", "NguoiViet", new { @idBinhLuan = @item.C_idBinhLuan })
        @Html.Action("ThemBinhLuanCap2", "NguoiViet", new { idBinhLuan1 = item.C_idBinhLuan })
    </div>



}

