@*@model LoginTest.Models.BaiViet_BinhLuanViewModels*@

@{
//Layout = null;
}
@{
    //IEnumerable<BinhLuan> lstComment = (IEnumerable<BinhLuan>)ViewBag.ListCM1;
    IEnumerable<BinhLuan> lstComment = ViewBag.ListCM1 as IEnumerable<BinhLuan>;
    IEnumerable<BinhLuan> lstComment2 = ViewBag.ListCM2 as IEnumerable<BinhLuan>;
}



@using LoginTest.Models;
@model List<BaiViet>
@*@model List<BaiViet_BinhLuanViewModels>*@
<!DOCTYPE html>
<html>
<head>
    <title>ShareYour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @*bootstrap*@
    <link href="/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">

    <!--link tạo nút đăng nhập facebook-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- //bootstrap -->
    <link href="/Content/css/dashboard.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="/Content/css/style1.css" rel='stylesheet' type='text/css' media="all" />
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <!--start-smoth-scrolling-->
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div style="padding-left:20px;padding-top:40px; background-color:#f0f0f0">

        <div class="show-top-grids">
            @foreach (var item in Model)
            {
                <div class="col-sm-8 single-left">


                    <div class="song">

                        <div class="song-info">
                            <h3><b>@item.TieuDe</b></h3>

                            @if (item.TrangThaiBaiViet == true)
                            {
                                <h6>Đã chỉnh sửa vào @item.NgayChinhSua bởi @item.User.HoTen</h6>
                            }
                            @if (item.TrangThaiBaiViet == null || item.TrangThaiBaiViet == false)
                            {
                                <h6>Đăng vào @item.NgayDang bởi @item.User.HoTen</h6>

                            }

                            @if (@Session["QuyenID"].ToString() == item.User.C_idUser.ToString())
                            {
                                <a style="display:inline-block;padding-right:10px">
                                    @Html.ActionLink("Chỉnh sửa", "Edit", "QuanLyBaiViet", new { id = item.C_idBaiViet }, new { @class = "btn btn-primary", @style = "font-size:100%" })
                                </a>
                                @Html.ActionLink("Xóa", "Delete", "QuanLyBaiViet", new { id = item.C_idBaiViet }, new { @class = "btn btn-danger", @style = "font-size:100%" })
                            }



                        </div>
                    </div>

                    <div class="clearfix"> </div>
                    <div class="published" style="background-color:#ffffff">
                        <script src="jquery.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                size_li = $("#myList li").size();
                                x = 1;
                                $('#myList li:lt(' + x + ')').show();
                                $('#loadMore').click(function () {
                                    x = (x + 1 <= size_li) ? x + 1 : size_li;
                                    $('#myList li:lt(' + x + ')').show();
                                });
                                $('#showLess').click(function () {
                                    x = (x - 1 < 0) ? 1 : x - 1;
                                    $('#myList li').not(':lt(' + x + ')').hide();
                                });
                            });
                        </script>
                        <div class="load_more" style="background-color:#ffffff">
                            <ul id="myList">
                                <li>
                                    <p>@Html.Raw(@item.NoiDung)</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="all-comments" style="background-color:#ffffff">
                        <div class="all-comments-info">
                            <a href="#">All Comments (8,657)</a>
                            @Html.Partial("~/Views/NguoiViet/ThemBinhLuan.cshtml", new BinhLuan())
                        </div>
                        <div class="all-comments-buttons">
                            <ul>
                                <li><a href="#" class="top">Top Comments</a></li>
                                <li><a href="#" class="top newest">Newest First</a></li>
                                <li><a href="#" class="top my-comment">My Comments</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-grids">


                        @*Comment bậc 1*@

                        @Html.Partial("~/Views/BaiViet/CommentStyle1Partial.cshtml", lstComment)


                    </div>

                   

                </div>
                <div class="col-md-4 single-right">
                    <h3>Bài viết liên quan</h3>
                    <div class="single-grid-right">
                        <div class="single-right-grids">
                            <div class="col-md-4 single-right-grid-left">
                                <a href="single.html"><img src="~/Content/images/r1.jpg" alt="" /></a>
                            </div>
                            <div class="col-md-8 single-right-grid-right">
                                <a href="single.html" class="title"> Nullam interdum metus</a>
                                <p class="author"><a href="#" class="author">John Maniya</a></p>
                                <p class="views">2,114,200 views</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            }

        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>