@*@model LoginTest.Models.BaiViet_BinhLuanViewModels*@

@{
//Layout = null;
}
@{
    //IEnumerable<BinhLuan> lstComment = (IEnumerable<BinhLuan>)ViewBag.ListCM1;
    IEnumerable<BinhLuan> lstComment = ViewBag.ListCM1 as IEnumerable<BinhLuan>;
    IEnumerable<BinhLuan> lstComment2 = ViewBag.ListCM2 as IEnumerable<BinhLuan>;
}



@using LoginTest.Models;
@model List<BaiViet>
@*@model List<BaiViet_BinhLuanViewModels>*@
<!DOCTYPE html>
<html>
<head>
    <title>ShareYour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @*bootstrap*@
    <link href="/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">

    <!--link tạo nút đăng nhập facebook-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- //bootstrap -->
    <link href="/Content/css/dashboard.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="/Content/css/style1.css" rel='stylesheet' type='text/css' media="all" />
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <!--start-smoth-scrolling-->
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div style="padding-left:20px;padding-top:40px">

        <div class="show-top-grids">
            <div class="col-sm-8 single-left">
                @foreach (var item in Model)
                {

                    <div class="song">

                        <div class="song-info">
                            <h3>@item.TieuDe</h3>
                            <h6>Đăng vào @item.NgayDang</h6>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                    <div class="published">
                        <script src="jquery.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                size_li = $("#myList li").size();
                                x = 1;
                                $('#myList li:lt(' + x + ')').show();
                                $('#loadMore').click(function () {
                                    x = (x + 1 <= size_li) ? x + 1 : size_li;
                                    $('#myList li:lt(' + x + ')').show();
                                });
                                $('#showLess').click(function () {
                                    x = (x - 1 < 0) ? 1 : x - 1;
                                    $('#myList li').not(':lt(' + x + ')').hide();
                                });
                            });
                        </script>
                        <div class="load_more">
                            <ul id="myList">
                                <li>
                                    <p>@Html.Raw(@item.NoiDung)</p>
                                </li>
                                <li>
                                    <p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo. Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
                                    <p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo. Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
                                    <div class="load-grids">
                                        <div class="load-grid">
                                            <p>Category</p>
                                        </div>
                                        <div class="load-grid">
                                            <a href="movies.html">Entertainment</a>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="all-comments">
                    <div class="all-comments-info">
                        <a href="#">All Comments (8,657)</a>
                        @Html.Partial("~/Views/NguoiViet/ThemBinhLuan.cshtml", new BinhLuan())
                    </div>
                    <div class="all-comments-buttons">
                        <ul>
                            <li><a href="#" class="top">Top Comments</a></li>
                            <li><a href="#" class="top newest">Newest First</a></li>
                            <li><a href="#" class="top my-comment">My Comments</a></li>
                        </ul>
                    </div>
                </div>

                <div class="media-grids">


                    @*Comment bậc 1*@

                    @Html.Partial("~/Views/BaiViet/CommentStyle1Partial.cshtml", lstComment)



                    @*@Html.Partial("~/Views/BaiViet/CommentStyle2Partial.cshtml", lstComment2)*@


                </div>

                @*}*@

            </div>
            <div class="col-md-4 single-right">
                <h3>Up Next</h3>
                <div class="single-grid-right">
                    <div class="single-right-grids">
                        <div class="col-md-4 single-right-grid-left">
                            <a href="single.html"><img src="~/Content/images/r1.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-8 single-right-grid-right">
                            <a href="single.html" class="title"> Nullam interdum metus</a>
                            <p class="author"><a href="#" class="author">John Maniya</a></p>
                            <p class="views">2,114,200 views</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>


            <!-- footer -->
            <div class="footer">
                <div class="footer-grids">
                    <div class="footer-top">
                        <div class="footer-top-nav">
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="press.html">Press</a></li>
                                <li><a href="copyright.html">Copyright</a></li>
                                <li><a href="creators.html">Creators</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="developers.html">Developers</a></li>
                            </ul>
                        </div>
                        <div class="footer-bottom-nav">
                            <ul>
                                <li><a href="terms.html">Terms</a></li>
                                <li><a href="privacy.html">Privacy</a></li>
                                <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                                <li><a href="privacy.html">Policy & Safety </a></li>
                                <li><a href="try.html">Try something new!</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <ul>
                            <li class="languages">
                                <select class="form-control bfh-countries" data-country="US">
                                    <option value="">Select Language</option>
                                    <option>Spanish</option>
                                    <option>French</option>

                                </select>
                            </li>
                            <li class="languages">
                                <select class="form-control bfh-countries">
                                    <option value="">Select Country</option>
                                    <option value="AFG">Afghanistan</option>
                                    <option value="ALA">Åland Islands</option>

                                </select>
                            </li>
                            <li class="languages">
                                <select class="form-control bfh-countries" data-country="US">
                                    <option value="">Safety Off</option>
                                    <option value="">Safety On</option>
                                </select>
                            </li>
                            <li><a href="history.html" class="f-history">History</a></li>
                            <li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //footer -->
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="drop-menu">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
        </ul>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>